---
import type { GetStaticPaths } from "astro";

import Layout from "../../layouts/layout.astro";
import Section from "../../layouts/section.astro";
import FeedItem from "../../components/feed-item.astro";
import Title from "../../components/title.astro";

import { collectFeeds } from "../../feed/fetch";
import { siteList } from "../../feed/list";

export const getStaticPaths = (async () => {
  const feeds = await collectFeeds(siteList);
  return Object.entries(feeds).map(([site, feed]) => ({
    params: { site },
    props: feed,
  }));
}) satisfies GetStaticPaths;

const { title, description, items } = Astro.props;
---

<Layout>
  <main class="content">
    <Section>
      <Title>{title}</Title>
      {description && <p class="description">{description}</p>}

      <div class="items">
        {
          items.map((item) => (
            <FeedItem
              link={item.link}
              pubDate={item.pubDate}
              title={item.title}
              creator={item.creator}
              contentSnippet={item.contentSnippet}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>

<style>
  .description {
    padding-top: 8px;
  }
  .items {
    padding-top: 40px;
  }

  @media screen and (width <= 600px) {
    .description {
      padding-top: 16px;
      font-size: var(--body-m);
    }
  }
</style>
