---
import type { GetStaticPaths } from "astro";

import Layout from "../../layouts/layout.astro";
import Section from "../../layouts/section.astro";
import FeedItem from "../../components/feed-item.astro";
import Title from "../../components/title.astro";

import { collectFeeds } from "../../feed/fetch";
import { siteList } from "../../feed/list";

export const getStaticPaths = (async () => {
  const feeds = await collectFeeds(siteList);
  return Object.entries(feeds).map(([site, feed]) => ({
    params: { site },
    props: feed,
  }));
}) satisfies GetStaticPaths;

const { title, description, items } = Astro.props;
---

<Layout>
  <main>
    <Section>
      <div>
        <Title>{title}</Title>
        {description && <p>{description}</p>}
      </div>
      <div class="grid gap-4">
        {
          items.map((item) => (
            <FeedItem
              link={item.link}
              pubDate={item.pubDate}
              title={item.title}
              creator={item.creator}
              contentSnippet={item.contentSnippet}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>
